
flatlib
pandas
numpy
streamlit
geopy
timezonefinder
pytz
reportlab
plotly
matplotlib
fastapi
uvicorn
python-telegram-bot
scikit-learn
openai
langchain
sqlalchemy
python-dateutil
swisseph

pyswisseph==2.10.3.2
#pyswisseph
